* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cornflowerblue;
}

.purple {
  color: #aa00ff;
  line-height: 3em;
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000000;
}

#answer-display:hover {
  color: #ffffff;
}

#click-me {
    background-color: #ff0000;
    color: #ffffff;
}